body { text-size: 12px; }
#pheader { padding-bottom: 40px; }
#pbody { text-align: center; }
#spanbody { width: 30%; max-width: 30%; }
span.posield { min-width: 25%; width: 25%; color: white; background-color: black; white-space: nowrap; }
span.posfield input { min-width: 33%; width: 33%; color: black; background-color: white;}
div#pbbox { text-align: center; width: 50%; border: solid 1px black; padding: 5px; display: inline; }
div#pbmsgbox { text-align: center; width: 50%; border: solid 1px black; padding: 10px; display: inline; }
span.posfield label { min-width: 50%; width: 50%; text-align: left; }

/* k */